@import "menu_principal.css";
@import "contact.css";
@import "footer.css";
@import "apresentacao.css";

*{
    font-family: "Calibri Light", sans-serif;
    color: #555;
}

body::-webkit-scrollbar{
    display: none;
}