#foto_perfil{
    display: grid;
    place-items: center;
}

#foto_perfil #center{
    display: grid;
    place-items: center;
    position: absolute;
    top: 15%;
    background-color: #444;
    width: 170px;
    height: 150px;
    border-radius: 5px;
}

#foto_perfil #center #img_perfil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: #bbb solid 5px;
}

#header{
    background: #444;
    color: #bbb;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    color: inherit;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-family: "Calibri Light", sans-serif;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0.75em;
    top: 0;
    vertical-align: middle;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    display: inline-block;
    padding-left: 0;
}

#header nav > ul > li > ul {
    display: none;
}

#header nav > ul > li > a {
    display: inline-block;
    height: 2em;
    line-height: 1.95em;
    padding: 0 1em;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    border: 0;
}
